.blogs-container{
    padding: 20px 5%;
    .title{
        color: white;
        background-color: turquoise;
        text-align: center;
        font-weight: bold;
        padding: 30px 30px;
        border-radius: 50px;
        margin: 30px 30%;
    }
    .blogs{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        .blog{
            width: 310px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
            img{
                width: 300px;
            }
            &-text, &-title{
                font-size: 14px;
            }
        }
    }
}