.courses-container{
    .title{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        margin:50px 5%;
        .main{
            font-size: 34px;
            font-weight: bold;
            padding: 20px;
            background-color: turquoise;
            border-radius: 50px;
            color: white;
        }
        .address{
            display: flex;
            align-items:center;
            gap: 5px;
            img{
                width: 30px;
            }
        }
    }
    .courses{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 100px 0;
    }
}
@media screen and (max-width:768px) {
    .courses-container{
        .title{
            justify-content: center;
        }
    }
}