.footer-container{
    background-color: rgb(54, 194, 180);
    display: flex;
    gap: 30px;
    padding: 50px 10%;
    align-items: center;
    *{
        color: white;
        font-size: 18px;
    }
    .footer-information{
        letter-spacing: 1.5px;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .links-title{
            font-size: 24px;
        }
        .links{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .questions-btn{
            padding: 10px;
            background-color:white;
            display: flex;
            color: turquoise;
            border: 0;
            border-radius: 10px;
            font-weight: 600;
            display: flex;
            justify-content: center;
        }

        .call-numbers, .gmail{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 20px;
            }
        }
        
    }
}
@media screen and (max-width:768px){
    .footer-container{
        flex-direction: column;
    }
}