.about-us-container{
    margin: 50px 10% 100px 10%;
    .title{
        color: white;
        background-color: turquoise;
        text-align: center;
        font-weight: bold;
        padding: 30px 30px;
        border-radius: 50px;
        margin: 30px 20%;
    }
    .info{
        margin: 40px 10%;
    }
    img{
        width: 355px;
        height: 250px;
        border: 2px solid white;
        border-radius:20px;
    }
}
@media screen and (max-width:768px){
    .about-us-container{
       margin: 10px;
       .title{
            margin: 30px 10%;
       }
    }
}